<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Banger-Maker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main id="app">
    <h1 class="mainTitle">Banger Player</h1>
        <div class="tabs" id="tabs">
            <div class="tabs-triggers">
                <div class="tabs-trigger" v-for="(item, index) in categories" :class="[index === active ? 'tabs-trigger--active' : '']" @click="activate(index)">{{categories[index]}}</div>
            </div>
            <div class="tabs-content" v-show="active === 0">
                <div class="info-content">
                <h2>D'abord qu'est ce qu'un banger : </h2>
                <p>D'après Urban dictionnary</p>
                <br>
                <img src="../images/img_3.png">
                <br>
                    <br>
                    <br>
                <p>Pour ajouter des notes sur le playground</p>
                <img src="../images/img_1.png">
                <br>
                <p>Les différents outils</p>
                <img src="../images/img_2.png">
                <br>
                <p>Et finalement on ajoute son banger pour régaler tout le monde</p>
                <br>
                <img src="../images/img.png">
                <br>
                <button class="button-del custom-button" @click="goToPlayground">c Ti-par</button>

                </div>
            </div>
            <script src="/js/banger-maker/package/node_modules/tone/build/Tone.js"></script>
            <script type="module" src="/js/banger-maker/widget.js"></script>

            <div class="tabs-content" v-show="active === 1">
                <div class="cardContainer">
                    <div v-for="riff of riffs" class="card">
                        <div class="top-card">
                             <h2>{{riff.name}}</h2>
                             <p>{{riff.genre}}</p>
                        </div>
                        <div class="down-card">
                            <button class="button-play custom-button" @click="playsong(riff.customfile)">play</button>

                            <button class="button-del custom-button" @click="deleteriff(riff._id)">del</button>
                         </div>
                    </div>
                </div>
            </div>
            <div class="tabs-content" v-show="active === 2">

                <article class="addform">
                    <span id="addform">
                    <label>Nom</label>
                        <input v-model="newRiff.name">

                    <label>Genre</label>
                        <input v-model="newRiff.genre">
<!--                        <label>Description</label>-->
<!--                        <input v-model="newRiff.description">-->
<!--                        <label>Autheur</label>-->
<!--                        <input v-model="newRiff.author">-->
                    </span>
                    <button @click="add">add</button>
                </article>
                <br>
                <div id="playgroundcontainer">

                </div>


            </div>
        </div>
</main>

<script src="/js/vue.js"></script>
<script src="/js/vue-resource.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
