<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main id="app">
    <h1 class="mainTitle">Banger Player</h1>
        <div class="tabs" id="tabs">
            <div class="tabs-triggers">
                <div class="tabs-trigger" v-for="(item, index) in categories" :class="[index === active ? 'tabs-trigger--active' : '']" @click="activate(index)">{{categories[index]}}</div>
            </div>
            <div class="tabs-content" v-if="active === 0">

            </div>
            <div class="tabs-content" v-if="active === 1">Content 2</div>
            <div class="tabs-content" v-if="active === 2">Content 3</div>
        </div>
</main>

<script src="/js/vue.js"></script>
<script src="/js/vue-resource.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>

<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--    <link rel="stylesheet" href="/css/style.css">-->
<!--</head>-->
<!--<body>-->

<!--<main id="app">-->
<!--    <header>-->

<!--        <h1>MusicPlayerJs</h1>-->

<!--    </header>-->
<!--    <section>-->
<!--        <article>-->
<!--            <h1>riffs:</h1>-->
<!--            {{ riffs }}-->
<!--            <h1>filtered riffs</h1>-->
<!--            {{ selectRiffById("6044ba4b0d488a3d484d0624") }}-->
<!--            <div v-for="riff of riffs">-->
<!--                <h2>{{riff.name}}</h2>-->
<!--                <p>-->
<!--                    {{riff.genre}}-->
<!--                </p>-->

<!--                    <p>-->
<!--                        <button @click="playsong(riff.customfile)">play</button>-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        <button @click="deleteriff(riff._id)">del</button>-->
<!--                    </p>-->


<!--            </div>-->


<!--        </article>-->
<!--        <article>-->
<!--            <p>-->
<!--            <label>Nom</label>-->
<!--                <input v-model="newRiff.name">-->
<!--            </p>-->
<!--            <p>-->
<!--            <label>Genre</label>-->
<!--                <input v-model="newRiff.genre">-->
<!--            </p>-->
<!--            <p>-->
<!--                <label>Description</label>-->
<!--                <input v-model="newRiff.description">-->
<!--            </p>-->
<!--            <p>-->
<!--                <label>Autheur</label>-->
<!--                <input v-model="newRiff.author">-->
<!--            </p>-->
<!--            <button @click="add">add</button>-->
<!--        </article>-->
<!--    </section>-->


<!--</main>-->
<!--<script src="/js/vue.js"></script>-->
<!--<script src="/js/vue-resource.min.js"></script>/-->
<!--<script src="/js/main.js"></script>-->
<!--<script src="/js/banger-maker/package/node_modules/tone/build/Tone.js"></script>-->
<!--<script type="module" src="/js/banger-maker/widget.js"></script>-->

<!--</body>-->
<!--</html>-->